@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="container">
    <h1>Log-in to your profile</h1>
    <p>
        Access your account, to see all your created cards, participate in games and much more.
    </p>
    <div class="card text-center">
        <div classs="card-body" style="padding:25px; align-items:center;">
            <h2 style=" color: black;">Sign-in</h2>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" style="font-weight:bold; color: black;">E-mail:</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" style="font-weight:bold; color: black;">Password:</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" style="color: black">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    

                </div>
                <div class="form-group">
                    <h2 style=" color: black;">Create account</h2>
                    <a type="button" asp-area="Identity" asp-page="/Account/Register" class="btn btn-block btn-secondary">Create new account</a>
                </div>
            </form>
        </div>
    </div>




    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
