@model KortViweModls

@{
    ViewData["Title"] = "Create";
}


<div class="container">
<h1>Create your own card</h1>
<p>
    Create your own card to further enhance your gameplay!
</p>
    <div class="row">
        <!-- FORM -->
        <div class="col">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <div class="d-flex">
                        <div class="d-flex m-2">
                            <input type="radio" asp-for="Abstract" value="true" id="abstractcard" onchange="changeBgAbstract(this)" />
                            <label class="ml-2">Abstract</label>
                        </div>
                        <div class="d-flex m-2">
                            <input type="radio" asp-for="Abstract" value="false" checked="checked" id="realcard" onchange="changeBgReal(this)" />
                            <label class="ml-2">Real</label>
                        </div>
                    </div>
                    <span asp-validation-for="Abstract" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input value="" onchange="changeName(this)" asp-for="Titel" class="form-control" type="text"/>
                    <span asp-validation-for="Titel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Types </label>
                    <select asp-for="TypeIds" id="typeSelection" class="form-control" asp-items="ViewBag.Types" multiple="multiple" onchange="changeType(this)"></select>
                </div>

                <div class="form-group">
                    <label class="control-label">Tags </label>
                    <select asp-for="TagIds" class="form-control" asp-items="ViewBag.Tags" multiple></select>
                </div>

                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea onchange="changeDesc(this)" asp-for="Beskivelse" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Beskivelse" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Sillhouette</label>
                    <select asp-for="SillhouetteId" class="form-control" asp-items="ViewBag.Sillhouettes" onchange="changeSilhouette(this)"><option></option></select>
                    <span asp-validation-for="SillhouetteId" class="text-danger"></span>

                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <a class="btn btn-danger" asp-action="Index">Cancel</a>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save Card" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>

        <!-- CARD PREVIEW -->
        <div class="col">
            <div class="card shadow-sm" style="width: 350px; height: 600px; margin: 10px;">
                <div  class="image-card-container">
                    <img class="card-img-top" id="cardBg" src="~/images/white-blank-card.png"/>
                    <div class="card-title-text" id="titleText">Card Title</div>
                    <div class="card-type-text" id="typeText">Card Type</div>
                    <div class="card-description-text" id="descText">Card Description</div>
                    <img class="card-silhouette" id="cardSilhouette" src="" />
                </div>
            </div>
        </div>
    </div>
</div>




<!-- CARD PREVIEW SCRIPTS -->
<script type="text/javascript">
   
    function changeBgReal(a) {
        document.getElementById("cardBg").src = "@Url.Content("~/images/white-blank-card.png")";
        document.getElementById("titleText").style.color = "black";
        document.getElementById("typeText").style.color = "black";
        document.getElementById("descText").style.color = "black";
        document.getElementById("cardSilhouette").style = ""
       
    }
    function changeBgAbstract(a) {
        document.getElementById("cardBg").src = "@Url.Content("~/images/brown-blank-card.png")";
        document.getElementById("titleText").style.color="white";
        document.getElementById("typeText").style.color="white";
        document.getElementById("descText").style.color="white";
        document.getElementById("cardSilhouette").style = "filter: invert(100%) sepia(98%) saturate(0%) hue-rotate(311deg) brightness(102%) contrast(102%)";
    }
    function changeName(a) {
        document.getElementById("titleText").innerHTML = a.value;
    }
    function changeType(a) {
        var tmp = $("#typeSelection option:selected").text();
        var select = "";
        $("select option:selected").each(function(){
                  select += $(this).text() + " ";
                  });
        if(select != ""){
            select = select.substr(0);
        }
        document.getElementById("typeText").innerHTML = select;
    }
    function changeDesc(a) {
        var desc = a.value;
        document.getElementById("descText").innerHTML = desc;
    }
    function changeSilhouette(a) {
        var test = a.options[a.selectedIndex].text;
        document.getElementById("cardSilhouette").src = `/images/silhouettes/${test}.png`;
    }
</script>


@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

